<launch>
    <arg name="rviz" default="false" />
    <arg name="rplidar" default="false" />
    <arg name="imu" default="false" />
    <arg name="teleop" default="false" />
    <arg name="camera" default="false" />
    <arg name="rf2o" default="false" />

    <node name="bogie_bringup_node" pkg="bogie_bringup" type="base_controller" output="screen">
        <!-- serial_com set-->
        <param name="com_port" value="/dev/ttyS5"/>

        <!-- motor param set -->
        <param name="speed_ratio"          value="0.00029"/><!-- unit:m/encode 0.00029 -->
	    <param name="wheel_distance"       value="0.4199"/><!-- unit:m 0.4199 -->
        <param name="encode_sampling_time" value="0.04"/><!-- unit:s 0.04 -->

        <!-- velocity limit -->
        <param name="cmd_vel_linear_max"   value="1.5"/><!-- unit:m/s 1.5-->
        <param name="cmd_vel_angular_max"  value="2.0"/><!-- unit:rad/s 2.0-->  

        <!-- other -->
        <param name="cmd_vel_topic"                value="cmd_vel"/>
        <param name="odom_pub_topic"               value="odom_raw" if="$(arg imu)"/>
        <param name="odom_pub_topic"               value="odom" unless="$(arg imu)"/>

        <param name="wheel_left_speed_pub_topic"   value="wheel_left_speed"/>
        <param name="wheel_right_speed_pub_topic"  value="wheel_right_speed"/>
        <param name="odom_frame_id"                value="odom_raw" if="$(arg imu)"/>
        <param name="odom_frame_id"                value="odom" unless="$(arg imu)"/>

        <param name="odom_child_frame_id"          value="base_footprint_raw" if="$(arg imu)"/>
        <param name="odom_child_frame_id"          value="base_footprint" unless="$(arg imu)"/>
    </node>
    <include file="$(find bogie_description)/launch/bogie_description.launch"/>

    <group if="$(arg rplidar)" >
        <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" >
            <param name="serial_port"         type="string" value="/dev/rplidar"/>
            <param name="serial_baudrate"     type="int"    value="115200"/>
            <param name="frame_id"            type="string" value="base_laser_link"/>
            <param name="inverted"            type="bool"   value="false"/>
            <param name="angle_compensate"    type="bool"   value="true"/>
        </node>
        <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" if="$(arg rf2o)">
                <param name="laser_scan_topic" value="/scan"/>      
                <param name="odom_topic" value="/odom_rf2o" />              
                <param name="publish_tf" value="true" />                   
                <param name="base_frame_id" value="base_rf2o"/>           
                <param name="odom_frame_id" value="odom_rf2o" />                
                <param name="init_pose_from_topic" value="" /> 
                <param name="freq" value="30.0"/>                           
                <param name="verbose" value="true" />                      
        </node>
    </group>

    <group if="$(arg imu)">
        <node pkg="imu_module" name="imu_read" type="serial_imu" >
            <param name="com_port" value="/dev/imu"/>
            <param name="imu_pub_topic" value="/imu_data"/>
            <param name="imu_frame_id" value="imu_link"/>
        </node>
        <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
            <param name="output_frame" value="odom"/>
            <param name="base_footprint_frame" value="base_footprint"/>
            <param name="freq" value="30.0"/>
            <param name="sensor_timeout" value="1.0"/>
            <param name="odom_used" value="true"/>
            <param name="imu_used" value="true"/>
            <param name="vo_used" value="false" unless="$(arg rf2o)"/>
            <param name="vo_used" value="true" if="$(arg rf2o)"/>
            <param name="debug" value="false"/>
            <param name="self_diagnose" value="false"/>
            <remap from="odom" to="odom_raw"/>
            <remap from="imu_data" to="imu_data"/>
            <remap from="vo" to="vo"/>
        </node>
        <node pkg="bogie_bringup" name="pose_to_odom" type="pose_to_odom.py" />

    </group>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" if="$(arg camera)" >
        <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
    </node>

    <node pkg="bogie_bringup" name="bogie_teleop" type="teleop_key.py" output="screen" if="$(arg teleop)"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find bogie_bringup)/rviz/bringup.rviz" if="$(arg rviz)"/>
    
</launch>
